<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>eyeson Ruby Quickstart Example</title>
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
  </head>
  <body>
    <header class="navbar">
      <section class="navbar-section">
        <img src="/logo.png" alt="Eyeson" style="margin:.5rem" />
      </section>
      <section class="navbar-section">
        <a target="_blank" rel="noopener" href="https://eyeson.team/" class="btn btn-link">eyeson Team</a>
        <a target="_blank" rel="noopener" href="https://github.com/eyeson-team/" class="btn btn-link">GitHub</a>
        <a target="_blank" rel="noopener" href="https://eyeson-team.github.io/api/" class="btn btn-link">API</a>
      </section>
    </header>
    <div class="container">
      <div class="columns">
        <div class="column col-6 col-sm-12">
          <h1 class="h3">Adieu 2020!!!</h1>
          <p>Herzlich willkommen. Schön dass Du da bist! Komm doch gleich mit rein.</p>
          <a href="/join" class="btn btn-primary">Join the Meeting Now</a>
        </div>
        <div class="column col-5 col-sm-10 col-mr-auto">
          <div class="video-responsive video-responsive-4-3 my-2">
            <iframe width="100%" height="100%" frameborder="0"
                    src="https://ih1.redbubble.net/image.1468267949.5895/st,small,507x507-pad,600x600,f8f8f8.jpg"
                    allow="encrypted-media" allowfullscreen=""></iframe>
          </div>
        </div>
        <div class="columns">
        </div>
      </div>
    </div>
  </body>
</html>

